body {
  background-color: #262626;
  display: flow-root;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: black;
  outline: auto;
  outline-color: #ffc000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* Think about which type of spacing you want to use here ^ */
  box-align: center;
  /* Box align and padding Not used on flex elements */
  padding: 1rem, 1.5em;
  background-color: black;
  outline: auto;
  outline-color: #ffc000;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.nav-menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* Flex spacing doesn't work if it doesn't know how wide the container is! What could we add here to give it a nudge? */
}

  /* Once your flex works correctly, this will make it look strange - remove it :) */


.button {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffc000;
}

.button:hover {
  background-color: white;
}

.container {
  max-width: 400px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 11rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    padding: 0;
    border-radius: 0px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 black;
  }

  /* ^ Think about how this is positioned. It's too high on the page and the width SHOULD be 100, but maybe not pixels...! */

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

*{
  box-sizing:border-box
}

.mySlides {
  display:none
}

img{
  vertical-align: middle;
}

.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover{
  background-color: rgba(0,0,0,0.8);
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover{
  background-color: #111111;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from
}