body{
    background-color: #262626;
    display:flow-root;

    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;

}


header{
    background-color: black;
    outline: auto;
    outline-color: #ffc000;


}


.navbar{
    overflow: auto;
    background-color: black;
    outline: auto;
    outline-color: #ffc000;
    width: 100%;


}
  
.navbar a{
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  

.navbar a:hover{
    background-color: #ffc000;
    color: black;
}
  
.active {
  background-color: #ffc000;
  color: black;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}



.container{
  display: flex;
  justify-content: space-evenly;

}